<div class="main pt-4">
    <div class="header px-5 d-flex justify-content-between col-lg-12">
        <img src="../../../../../assets/layout-images/green-comfort/green-header2.svg" alt="">
        <img src="../../../../../assets/layout-images/green-comfort/green-header1.svg" alt="">
    </div>

    <div class="content-text align-self-center row flex-column">
        <span class=" green">
            Green
        </span>
        <span class="comfort">
            Comfort
        </span>

    </div>

    <div class="footer px-5 row justify-content-between col-lg-12 mb-5" style="margin: 0;">
        <span class="col-lg-6">KEE@2022</span>
        <span class="col-lg-6 text-end">LN - FB - TW</span>
    </div>
</div>