<div class="cardAnimations py-3">
    <div class=" ps-4">
        <h2 class="text-start mt-3 col-lg-12 m-0 modul-headers">
            Experience
        </h2>
        <div class="modul-header-border"> </div>
    </div>

    <div class="row px-2" style="margin: 0;">
        <div class="row mt-3 text-start pb-3" *ngFor="let item of experienceList">
            <div class="col-md-2 border-r">
                <img class="col-sm-11 mx-auto" [src]="item.imgUrl" alt="">
            </div>
            <div class="col-md-9">
                <div class="text-sm font-normal ps-2 ">
                    <div class="mb-1">
                        <span class="font-medium">
                            • {{item.name}}, 
                        </span>
                        <small style="color: #f39d35;"> {{item.period}}</small>
                    </div>

                    <p class="mt-2" *ngFor="let subItem of item.works">
                        {{subItem.desc}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>