<div class="row" style="margin: 0;">
    <header class="top-header ">
        <div class="nav-bar row pt-3 justify-content-between col-lg-12" style="margin: 0;">
            <div class="illy-logo col-lg-3">
                <img src="../../../../assets/projects/illdy/header-logo.png" alt="">
            </div>
            <div class="nav-links mt-3 col-lg-7 ">
                <ul class="m-0 col-lg-12 row justify-content-end" style="margin: 0;">
                    <li class="col-lg-2"><a>About</a></li>
                    <li class="col-lg-2"><a>Testimonials</a></li>
                    <li class="col-lg-2"><a>Services</a></li>
                    <li class="col-lg-2"><a>Blog</a></li>
                    <li class="col-lg-2"><a>Our Team</a></li>
                    <li class="col-lg-2"><a>Contact Us</a></li>
                </ul>
            </div>

        </div>

        <div class="header-content">
            <h1>
                Clean
                <span>.</span>
                Slick
                <span>.</span>
                Pixel Perfect
            </h1>
        </div>

        <div class="header-description row" style="margin: 0;">
            <div class="col-lg-8 mx-auto">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis accusamus consectetur odit cumque
                molestias illo pariatur esse?
            </div>
        </div>

        <div class="learn-about row justify-content-center" style="margin: 0;">
            <div class="col-lg-2">
                <a href="" class="learn-more header-links">Learn more</a>
            </div>
            <div class="col-lg-2">
                <a href="" class=" download-link header-links">Download</a>
            </div>
        </div>
    </header>


    <section class="about-section">
        <div class="container-about  row mt-3" style="margin: 0;">
            <div class="about-logo col-lg-12 mt-5" id="about">
                About
            </div>
            <div class="about-content col-lg-9 mx-auto mt-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea nam consequuntur veritatis maiores, saepe
                perferendis sunt impedit quas nemo cupiditate omnis maxime quidem odio blanditiis earum optio ullam
                velit
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates tenetur consectetur nulla delectus
                ex veritatis mollitia pariatur illum quae distinctio maiores quo perferendis, dolorum sint dolorem
                officiis hic debitis animi.
            </div>

            <div class="progress-con col-lg-10 mx-auto row mt-5 pt-3" style="margin: 0;"> <!--Common progress div-->
                <div class="prgres-div col-lg-4"> <!--birinci progress div-->
                    <div class=" prgressprc1 prgressprc">
                        60%
                    </div>
                    <div class=" progress-barcolor">
                        <div class=" prgrs1 prgrss-colored"> </div>
                    </div>
                    <div class="progress-content1 progress-content">
                        <i class="fa fa-font" style="margin-right: 10px;"></i>
                        Typography
                    </div>
                </div>

                <div class="prgres-div col-lg-4"> <!--ikinci progress div-->
                    <div class=" prgressprc2 prgressprc">
                        82%
                    </div>
                    <div class=" progress-barcolor">
                        <div class=" prgrs2 prgrss-colored"> </div>
                    </div>
                    <div class=" progress-content2 progress-content">
                        <i class="fa fa-pencil" style="margin-right: 10px;"></i>
                        Design
                    </div>
                </div>

                <div class="prgres-div col-lg-4"> <!--ucuncu progress div-->
                    <div class="prgressprc3 prgressprc">
                        86%
                    </div>
                    <div class="  progress-barcolor">
                        <div class=" prgrs3 prgrss-colored"> </div>
                    </div>
                    <div class="progress-content3 progress-content">
                        <i class="fa fa-code" style="margin-right: 10px;"></i>
                        Typography
                    </div>
                </div>

            </div>
        </div>
    </section> <!--about section-->

    <section class="project-section mt-5" id="portfolio">
        <div class="about-logo mt-5">
            Projects
        </div>

        <div class=" project-content mt-3">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </div>

        <div class="project-links row mt-5" style="margin: 0;">

            <div class="col-lg-3 mt-3">
                <img src="../../../../assets/projects/illdy/projectImage1.jpg" alt="">
            </div>
            <div class="col-lg-3 mt-3">
                <img src="../../../../assets/projects/illdy/projectImage2.jpg" alt="">
            </div>
            <div class="col-lg-3 mt-3">
                <img src="../../../../assets/projects/illdy/projectImage3.jpg" alt="">
            </div>
            <div class="col-lg-3 mt-3">
                <img src="../../../../assets/projects/illdy/projectImage4.jpg" alt="">
            </div>

            <!-- <a href="">
             
            </a>

            <a href="">
              <img src="../../../../assets/projects/illdy/projectImage2.jpg" alt="">
            </a>

            <a href="">
                <img src="../../../../assets/projects/illdy/projectImage3.jpg" alt="">
            </a>

            <a href="">
                <img src="../../../../assets/projects/illdy/projectImage4.jpg" alt="">
            </a> -->

        </div>

    </section> <!--project section-->


    <section class="testimonials-section mt-5" id="testimonial">

        <div class="about-logo" id="testimonial" style="color: white;">
            Testimonials
        </div>

        <div class="picture my-3">
            <img src="../../../../assets/projects/illdy/person1.jpg" alt="">
        </div>

        <div class="content-testimonial">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus enim aut dolor possimus. Magnam
            repellendus odio nam iure consequatur aliquam, provident obcaecati non similique perferendis, deleniti
            ratione libero nesciunt pariatur!
        </div>

        <div class="content-testimonial-triangle"></div>

        <span class="mt-2" style="margin: 0;">
            Name Surname
        </span>
    </section>

    <section class="services-section" id="services">
        <div class="about-logo">
            Services
        </div>

        <div class="content-services py-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem perferendis amet!

        </div>

        <div class="part-section row mt-4" style="margin: 0;">
            <div class="part col-lg-4 mt-3">
                <div class="part-icon  mb-3" style="color: rgb(214, 107, 88);">
                    <i class="fa fa-pencil"></i> <br>
                    Web Design
                </div>

                Lorem ipsum dolor sit amet consectetur adipisicing elit. simos dolorem veritatis minus Lorem ipsum dolor
                sit amet.
            </div>


            <div class="part  col-lg-4 mt-3">
                <div class="part-icon mb-3" style="color: rgb(218, 200, 42);">
                    <i class="fa fa-code"></i> <br>
                    WEB DEVELOPMENT
                </div>

                Lorem ipsum dolor sit amet consectetur adipisicing elit. itatibus nam animi deserunt dignissimos dolorem
                veritatis minus Lorem ipsum dolor sit amet.
            </div>


            <div class="part  col-lg-4 mt-3">

                <div class="part-icon mb-3" style="color: rgb(110, 66, 110);">
                    <i class="fa fa-search"></i> <br>
                    SEO Analisys
                </div>

                Lorem ipsum dolor sit amet consectetur adipisicing elit. deserunt dignissimos dolorem veritatis minus
                Lorem ipsum dolor sit amet.
            </div>
        </div>
    </section> <!-- services section-->

    <section class="news py-5" id="blog">
        <div class="about-logo" style="color: #fff;">
            Latest News
        </div>
        <div class="content-services">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem perferendis amet!
        </div>

        <div class="px-3">
            <div class="blog-link col-lg-2">
                <a href="">
                    <i class="fa fa-chevron-circle-right" style="margin-right: 7px;"></i>
                    See blog
                </a>
            </div>
        </div>

        <div class="blog-cards-container row " style="margin: 0;">
            <div class=" col-lg-4 mt-3" *ngFor="let item of latestNews">
                <div class="blog-card pb-3">
                    <img [src]="item.img" alt="">

                    <h2 class="my-4"> {{item.title}}</h2>

                    <p class="col-lg-10 mx-auto">
                        {{item.content}}
                    </p>

                    <div class="card-links mt-4 mb-1">
                        <a [href]="item.url">
                            <i class="fa fa-chevron-circle-right" style="margin-right: 7px;"></i>
                            Read more
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="counter-bar row" style="margin: 0;">
        <div *ngFor="let item of counts" class="col-lg-4 py-3 row project-counter project-counter-border"
            style="margin: 0;">
            <span class="project-count">
                {{item.number}}
            </span>

            <span class="counter-content">
                {{item.title}}
            </span>
        </div>
    </section>
    <!--counter section-->


    <section class="team-section project-section pt-3">
        <div class="about-logo mt-5">
            Team
        </div>

        <div class=" project-content mt-2">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </div>

        <div class="row mt-4" style="margin: 0;">
            <div class="team-member col-lg-4 mt-4 row" style="margin: 0;" *ngFor="let item of team">
                <img [src]="item.img" alt="person" class="person-image col-lg-4">
                <div class="team-person col-lg-8">
                    <h3>{{item.fullname}}</h3>
                    <p class="job-position" [style.Color]="item.color">
                        {{item.job}}
                    </p>
                    <p class="details">
                        {{item.content}}
                    </p>
                    <ul class="social-links">
                        <li class="mx-1" [style.border]="'1px solid ' + item.color">
                            <a href="" [style.Color]="item.color">
                                <i class="fa fa-facebook"> </i>
                            </a>
                        </li>

                        <li class="mx-1" [style.border]="'1px solid ' + item.color">
                            <a href="" [style.Color]="item.color">
                                <i class="fa fa-twitter"> </i>
                            </a>
                        </li>

                        <li class="mx-1" [style.border]="'1px solid ' + item.color">
                            <a href="" [style.Color]="item.color">
                                <i class="fa fa-linkedin"> </i>
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </section> <!--End of Team section-->

    <footer class="footer row mt-5 px-5 pt-5 pb-3 justify-content-between" style="margin: 0;">
        <div class="footer-container col-lg-2">
            <h3>PRODUCTS</h3>
            <ul class="footer-list">
                <li>
                    <a href="">Our work</a>
                </li>

                <li>
                    <a href="">Club</a>
                </li>

                <li>
                    <a href="">News</a>
                </li>

                <li>
                    <a href="">Announcement</a>
                </li>
            </ul>
        </div>

        <div class="footer-container col-lg-2">
            <h3>INFORMATION</h3>
            <ul class="footer-list">
                <li>
                    <a href="">Pricing</a>
                </li>

                <li>
                    <a href="">Terms</a>
                </li>

                <li>
                    <a href="">Affiliates </a>
                </li>

                <li>
                    <a href="">Blog</a>
                </li>
            </ul>
        </div>

        <div class="footer-container col-lg-2">
            <h3>Support</h3>
            <ul class="footer-list">
                <li>
                    <a href="">Documentation</a>
                </li>

                <li>
                    <a href="">FAQs</a>
                </li>

                <li>
                    <a href="">Forums</a>
                </li>

                <li>
                    <a href="">Contact</a>
                </li>
            </ul>
        </div>
    </footer>

    <div class="copyright-container">
        <div>
            <span class="themeilldy">
                Theme: Illdy.
            </span>

            <span class="copyright">
                © Copyright 2017. All Rights Reserved.
            </span>
        </div>
    </div>

</div>