<!-- <div class="container my-4">
    <div slickContainer #slickController="slick" [slickConfig]="config">
        <div class="row" style="margin: 0;">
            <div slickItem class="col-lg-3" *ngFor="let article of articlesData">
              <div class="card">
                <div class="img-wrapper">
                  <img [src]="article.ImagePath" class="card-img-top" alt="">
                </div> 
                <div class="card-body">
                  <h5 class="card-title">{{article.ArticleName}}</h5>
                  <h6 class="card-subtitle mb-2 mt-1">{{article.CategoryName}}</h6>
                  <span> {{article.UpdateDate}}</span>
                </div>
              </div>
            </div>
          </div>
    </div>

    <button (click)="slickController.prev()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
      </svg>
    </button>
    <button (click)="slickController.next()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
      </svg>
    </button>
</div> -->

<div class="pt-4">
  <h1 class="text-center">Layout examples</h1>
  <!-- <mdb-carousel class="carousel-con py-2" [controls]="true" [indicators]="true" [animation]="'fade'">
    <mdb-carousel-item *ngFor="let item of articlesData">
      <span class="mx-auto " [ngClass]="{'golden-img': item.title == 'Golden Offer Day'}">
        <img [routerLink]="[item.url]"
          style="object-fit: cover !important; margin: auto; mix-blend-mode: hard-light;cursor: pointer; height: 85vh; object-fit: contain;"
          [src]="item.imgPath" class="d-block w-100" alt="..." />
      </span>
      <div class="carousel-caption d-none d-md-block">
        <h2>{{item.title}}</h2>
        <p style="text-transform: capitalize;">{{item.desc}}</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel> -->
</div>