<div class="main-golden pt-5">
    <div class="row m-auto "  style="margin: 0;">
        <div class=" row col-lg-12 justify-content-between" style="margin: 0;">
            <div class="col-lg-3">
                <img src="../../../../../assets/layout-images/golden-offer/star.svg" alt="">
            </div>
            <div class="col-lg-7 text-end">
                <img class="img" src="../../../../../assets/layout-images/golden-offer.png" alt="">
            </div>
        </div>

        <span class="text-content row col-lg-12 my-3 mt-5" style="margin: 0;">
            <span class="text-word mt-3">DISCOVER</span>
            <span class="text-end text-word">THE <span style="color: #041213;">GOLDEN</span></span>
            <span class="text-word">OFFER DAY</span>
        </span>

        <div class="empty-content row col-lg-12 my-3" style="margin: 0;">
         
        </div>


        <div class=" row col-lg-12 justify-content-between" style="margin: 0;">
            <div class="col-lg-7">
                <img class="img" src="../../../../../assets/layout-images/golden-offer/girl.png" alt="">
            </div>
            <div class="col-lg-3 d-flex pb-5">
                <img class="arrow mt-auto" src="../../../../../assets/layout-images/golden-offer/Arrow.png" alt="">
            </div>
        </div>

    </div>

</div>