<div class=" parallax-container ">
    <div class="cursor"></div>

    <div class="parallax-bg ">
        <div class="parallax-bg-1">
            <h2>
              1.  Space parallax 
            </h2>
            <img style=" top: 80px; left: 120px;" class="item-1-bg" src="../../../../assets/parallax/1.png"
                data-value="3" alt="">
            <img style=" top: 40px; right: 140px;" class="item-1-bg" src="../../../../assets/parallax/2.png"
                data-value="-2" alt="">
            <img style=" bottom: 80px; left: 100px;" class="item-1-bg" src="../../../../assets/parallax/3.webp"
                data-value="5" alt="">
            <img style=" bottom: 30px; right: 40px;" class="item-1-bg" src="../../../../assets/parallax/4.webp"
                data-value="-4" alt="">
        </div>
    </div>
</div>