<div class="common-container row col-lg-12" style="margin: 0 auto;">
  <div class=" container-item-links col-md-2 text-center" style="max-width: 14%;">
    <ul class="row ps-0 flex-column py-3 list-container mt-5 justify-content-start">
      <li class="list-items px-2" routerLinkActive="router-link-active" [routerLink]="'about'">
        <p class="text-start ps-1">
          <i class="fa-regular fa-address-card me-1"></i>
          About
        </p>
      </li>
      <li class="list-items px-2" routerLinkActive="router-link-active" [routerLink]="'skills'">
        <p class="text-start ps-1">
          <i class="fa-regular fa-wand-magic-sparkles me-1"></i>
          Skills
        </p>
      </li>
      <li class="list-items px-2" routerLinkActive="router-link-active" [routerLink]="'experience'">
        <p class="text-start ps-1">
          <i class="fa-solid fa-handshake me-1"></i>
          Experience
        </p>
      </li>
      <li class="list-items px-2" routerLinkActive="router-link-active" [routerLink]="'works'">
        <p class="text-start ps-1">
          <i class="fa-regular fa-diagram-project me-1"></i>
          Projects
        </p>
      </li>
      <li class="list-items px-2" routerLinkActive="router-link-active" [routerLink]="'contact'">
        <p class="text-start ps-1">
          <i class="fa-regular fa-address-book me-1"></i>
          Contact
        </p>
      </li>
    </ul>

  </div>

  <div class="container-item col-md-3 mt-2 pb-2 text-center bg-white"
    style=" box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important; z-index: 1;">
    <div class="col-lg-12" style="height: 60%;">
      <img src="../../../assets/bg.png" class=" imgLogo mat-elevation-z8 mt-3" alt="">
    </div>
    <h2 class="mt-4" style="font-size: 25px; color: #444444;">
      Gulchohra Umarli
    </h2>
    <h3 style="font-size: 17px; color: #444444;">
      Front-end developer.
    </h3>

    <ul class="row mt-4 justify-content-center" style="margin: 0; list-style: none; color: #424242;">
      <li class="col-lg-3 text-center social-list-item">
        <a target="_blank" href="https://wa.me/994702584474">
          <img src="../../../assets/social/whatsapp-color.svg" alt="">
        </a>
      </li>
      <li class="col-lg-3 text-center social-list-item">
        <a target="_blank" href="mailto:email@example.com">
          <img src="../../../assets/social/mail-color.svg" alt="">
        </a>
      </li>

      <li class="col-lg-3 text-center social-list-item">
        <a target="_blank" href="https://github.com/umarllee">
          <img src="../../../assets/social/git-color.svg" alt="">
        </a>
      </li>
      <li class="col-lg-3 text-center social-list-item">
        <a target="_blank" href="https://www.linkedin.com/in/gulchohra-umarli-7b64a7200/">
          <img src="../../../assets/social/linkedin-color.svg" alt="">
        </a>
      </li>
    </ul>

    <p class="mt-4">
      <a href="../../../assets/cv/gulchohra.umarli.pdf" download class="dwnld">
        Download CV
      </a>
    </p>
  </div>

  <div class="mt-2 col-md-7 container-item2 p-0 text-center  ">
    <router-outlet></router-outlet>
  </div>

</div>