<div class="main-creative d-flex">
    <div class="row m-auto" style="margin: 0;">
        <div class="header-creative row justify-content-between" style="margin: 0;">
            <span class="">HOME</span>
            <span class=" text-end">WORK</span>
        </div> 

        <div class="row " style="position: relative; margin: 0;" >
            <div class="col-lg-12 img-header text-center">All collections</div>
            <div class="text-center">
                <img src="../../../../../assets/layout-images/creative-boutigue.png" alt="">
            </div>
            <div class="col-lg-12 img-footer text-center">Fancy suits</div>

            <div class="cr-text cr-text1">Creative</div>
            <div class="cr-text cr-text2">Boutique</div>

        </div>


        <div class="header-creative-footer row justify-content-between" style="margin: 0;">
            <span class="">ABOUT</span>
            <span class=" text-end">CONTACT US</span>
        </div>
    </div>


</div>