<div class="cardAnimations ">
  <div class="row py-4" style="margin: 0;">
    <div class=" ps-4">
      <h2 class="text-start mt-2 col-lg-12 m-0 modul-headers">
        Skills
      </h2>
      <div class="modul-header-border"> </div>
    </div>

    <div class="row mt-3" style="margin: 0;">
      <div *ngFor="let itemSkill of skills; let i = index" class="row border-gray-400 border-dotted border-b pb-3" [ngClass]="{'mt-4': i != 0}" style="margin: 0;">
        <div class="row pe-0 text-start">
          <div class="col-md-2 d-flex align-items-center justify-content-center mt-3">
            <p class="text-start text-gray-500 font-semibold">
              {{itemSkill.name}}
            </p>
          </div>
  
          <div class="col-md-10 row p-0 justify-content-end">
            <div *ngFor="let item of itemSkill.fields" class="w-fit ps-3 mt-3">
              <img width="70" style="height: 70px;" class="mx-auto" [src]="item.url" alt="">
              <p class="text-center font-medium mt-2">
                {{item.name}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>