.about-con {
    margin: 0;
    text-align: left;
    color: #424242;
    
}

.about-span-headers{
    // background: #00bd58;
    font-size: 15px;
    color: #00bd58;
    padding: 2px 8px;
    border-radius: 5px;
}

.about-con h2{
    color: darkorange;
    font-weight: 700;
    font-size: 20px;
}

p{
    margin: 0 !important;
    color: #444444;
    font-weight: 500;
}

.overlay {
    background: #fff;
    margin-top: 10px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.13);
    border-radius: 0.25rem;
  }
  
  .overlay-fall {
    animation: fall 300ms ease-in-out forwards;
    transform-origin: top center;
  }
 

  @keyframes fall {
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: skewY(1);
    }
  }