<div class="cardAnimations ">
    <div class="row py-4" style="margin: 0;">
        <div class="ps-4">
            <h2 class="text-start mt-2 col-lg-12 m-0 modul-headers">
                Gulchohra Umarli
            </h2>
            <div class="text-start col-lg-12 m-0">
                <span class="text-sm pe-2 border-orange-400 border-r about-header-info"> Baku, Azerbaijan</span>
                <span class="text-sm pe-2 border-orange-400 border-r about-header-info"> (+994) 70 258 44 74</span>
                <span class="text-sm pe-2 about-header-info"> gulchohra.umarli@gmail.com</span>
            </div>
            <div class="modul-header-border mt-1"> </div>
        </div>

        <div class="row ps-3 m-0 border-gray-400 border-dotted border-b pt-3 pb-3 text-start">
            <h3 class="mb-1 text-lg font-medium about-headers">Summary</h3>
            <p class="text-sm font-normal">
                I am a qualified front-end web developer with more than one years of experience in website
                design and development. I am always open to learning and have the ability to work in a team or
                individually.
            </p>
        </div>

        <div class="row ps-4 m-0 border-gray-400 border-dotted border-b pt-2 pb-3 text-start">
            <div class="col-md-6">
                <div>
                    <h3 class="mb-1 text-lg font-medium about-headers">Education</h3>
                    <p class="text-sm font-normal">
                        <span class="font-medium">Bachelor of Science, Computer Engineering</span>,
                        <small>06/2023</small>
                        <br>
                        <span class="font-medium">Azerbaijan State Oil And Industry University</span>, <small>Baku,
                            Azerbaijan</small>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <h3 class="mb-1 text-lg font-medium about-headers">Languages</h3>
                    <p class="text-sm mt-2 font-normal ">
                        <span class="font-medium">Azerbaijan</span>,
                        <small>Native</small>

                        <span class="ms-3 font-medium">English</span>,
                        <small>Intermediate(B1)</small>

                        <span class="ms-3 font-medium">Turkish</span>,
                        <small>Advanced(C1)</small>
                    </p>
                </div>
            </div>
        </div>

        <div class="row ps-4 m-0 pt-2 pb-3 text-start">
            <div class="col-md-12">
                <div>
                    <h3 class="mb-1 text-lg font-medium about-headers">Skills</h3>
                    <div class="text-sm font-normal">
                        <ul class="row">
                            <li *ngFor="let item of skillsList" class="col-sm-4 mb-1">
                                • {{item.name}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>