.about-con {
    margin: 0;
    text-align: left;
    color: #424242;
    
}

.about-span-headers{
    // background: #00bd58;
    font-size: 15px;
    color: #00bd58;
    padding: 2px 8px;
    border-radius: 5px;
}

.about-con h2{
    color: darkorange;
    font-weight: 700;
    font-size: 20px;
}

p{
    margin: 0 !important;
    color: #444444;
    font-weight: 500;
}